			
table{
	width:50%;
	text-align:center;	
	margin:auto;
	border: 3px solid purple;
	border-radius: 5px;
}

thead{
	background-color:pink;
}			

tbody{
	color:blue;
}
.nomeProduto{
	width:20%;
	background-color:mistyrose;				
}		
.valorProduto{
	width:80%;
	background-color:lavender;				
}	
tfoot{
	color:red;
	background-color:lightgreen;
}
			



.css tr:nth-child(2n){		
	background-color:lightblue;
}
.css tr:nth-child(2n+1){		
	background-color:pink;
}			
