<html>
	<head>
		<meta charset="utf-8">
		<!--metas de segurança -->
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta http-equiv="Content-type" content="text/html">
		<!--referência bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>
	<body class="container-fluid" ng-app="aplicacao">
		<header>
			<h1 style="text-align: center; color: blue">
				Bem vindo ao Curso de Angular!
			</h1>
		</header>
		<div ng-controller="PrimeiroController" class="bg-light">
			<p>Olá {{nome}}, seja bem-vindo(a)!</p>
			<p ng-show="iniciado">Curso em Andamento</p>
			<p ng-hide="iniciado">Curso Finalizado</p>
			<p ng-if="!iniciado">Aguarde o Próximo Curso...</p>

			<li ng-repeat="aluno in alunos">{{aluno}}</li>

			<br/>
			
			<button ng-show="iniciado" class="btn btn-danger" ng-click="finalizar()">Finalizar</button>
			<button ng-hide="iniciado" class="btn btn-success" ng-click="iniciar()">Iniciar</button> 

		</div>
		<!--referência angular -->
		<script type="text/javascript" src="js/libs/angular.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/primeiro-controller_5.js"></script>
	</body>
</html>



