<html>
	<head>
		<meta charset="utf-8">
		<!--metas de segurança -->
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta http-equiv="Content-type" content="text/html">
		<!--referência bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.css">
	</head>
	<body class="container-fluid" ng-app="aplicacao">
		<header>
			<h1 style="text-align: center; color: blue">
				Bem vindo ao Curso de Angular!
			</h1>
		</header>
		<div ng-controller="PrimeiroController" class="bg-light">
			<p>Olá {{nome}}, seja bem-vindo(a)!</p>

			<div ng-class="{'panel panel-primary':iniciado, 'panel panel-danger':!iniciado}">
				<div class="panel-heading">
					<h3 class="panel-title">Situação do Curso</h3>
				</div>
				<div class="panel-body">
					<p ng-show="iniciado">Curso em Andamento</p>
					<p ng-hide="iniciado">Curso Finalizado</p>
					<p ng-if="!iniciado">Aguarde o Próximo Curso...</p>
					<p>Preço: {{valor | currency : "R$ "}}</p>
					<p>Última atualização: {{hoje | date:  "dd/MM/yyyy"}}</p>
				</div>
			</div>

			<div>
				<label>Definir Preço</label>
				<input type="number" id="valor" name="valor" ng-model="valor" />
			</div>

			<br/>

			<div>
				<label>Filtrar por nome: </label>
				<input type="text" name="filtro" ng-model="filtro"/>
			</div>

			<br/>
			
			<div class="table-responsive">
				<table class="table table-stripped">
					<tr>
						<th ng-click="ordenarPorNome()">Nome</th>
						<th ng-click="ordenarPorIdade()">Idade</th>
					</tr>
					<tr ng-repeat="aluno in alunos | filter: filtro  ">
						<td>{{aluno.nome}}</td>
						<td>{{aluno.idade}}</td>
					</tr>						
				</table>
			</div>

			<br/>

			<button ng-show="iniciado" class="btn btn-danger" ng-click="finalizar()">Finalizar</button>
			<button ng-hide="iniciado" class="btn btn-success" ng-click="iniciar()">Iniciar</button>

			<br/><br/>

			<form name="form_1">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group form-group-default">
							<label>Nome</label>
							<input type="text" class="form-control" name="nome_aluno" id="nome_aluno" ng-model="nome_aluno" ng-readonly="!iniciado" 
							ng-minlength="10" ng-maxlength="50" ng-required="true">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group form-group-default">
							<label>Idade</label>
							<input type="number" class="form-control" name="idade_aluno" id="idade_aluno" ng-model="idade_aluno" ng-readonly="!iniciado" ng-required="true">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<button class="btn btn-primary" ng-click="submeter()" ng-disabled="!iniciado">
							Adicionar
						</button>
					</div>
				</div>
				</div>
			</form>

			<br/><br/><br/><br/>


			<div class="well" ng-controller="PrevisaoTempoController">
				<h3>Demonstrando ng-resource</h3>
				<h3>Previsão do Tempo</h3>
				<h5>Local: {{tempo.name}}</h5>
				<h5>Temp.: {{tempo.main.temp}} C</h5>
				<h5>Temp. Min: {{tempo.main.temp_min}} C</h5>
				<h5>Temp. Max: {{tempo.main.temp_max}} C</h5>				
			</div>



		</div>
		<!--referência angular -->
		<script type="text/javascript" src="js/libs/angular.js"></script>
		<script type="text/javascript" src="js/libs/ngResource.js"></script>
		<script type="text/javascript" src="js/app1.js"></script>
		<script type="text/javascript" src="js/primeiro-controller_11.js"></script>
		<script type="text/javascript" src="js/previsao-tempo-controller.js"></script>
	</body>
</html>



